@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('colors.css');
.about {
    color: var(--text-color);
    text-shadow: 0px 0px 25px #5557cb;
}
.about .left {
    font-size: larger;
    font-family: "Share Tech Mono", monospace;
    text-align: right;
}

.about .right {
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
    text-align: left;
}

.about ul li {
    list-style: none;
    line-height: 60px;
    font-size: larger;
}